{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 80,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "jsxBracketSameLine": false,
  "endOfLine": "auto",
  "auto_format_on_save": true,
  "prettier_cli_path": "/usr/local/bin/prettier"
}
